<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>List Products</title>
    <link  rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <style>
      .card{
        margin: 5px;
      }
      img{
        width: 100px !important;
      }
      .form-control{
        width: 25%;
        display: inline-block;
      }
    </style>
  </head>

  <form action="/products/add">
    <input type="submit" class="btn btn-success" value="Add Product" />
  </form>

  <br />

  <form method="post" action="/products/search">
    <input type="text" name="search" class="form-control"  />
    <input type="submit" class="btn btn-default" value="Search" />
  </form>

  <body class="container">
    <div class="row ">
    <% products.forEach(function(product){ %>

          <div class="col-md-3 card  bg-default" style="width: 18rem;">
             <div class="card-body">
               <img class="card-img-top"  src="/imgs/i.jpeg"/>
              <div class="card-title">
                 <%= product.name %>
              </div>
              <div class="card-text">
                Description: <%= product.desc %>
                <br />
                Category: <%= product.category %>
                <br />
                Price: <%= product.price %>
                Owner: <%= product.owner %>
              </div>
                <a href="/products/edit/<%= product._id %>">Edit</a>
                <a href="/products/delete/<%= product._id %>">Delete</a>

            </div>
          </div>

    <% }); %>
  </div>


  </body>
</html>
